<form ng-submit="doLogin(user)">
    <h2>
        Login
    </h2>
    <paper-input-decorator floatingLabel label="Email">
        <input type="text" ng-model="user.email">
    </paper-input-decorator>
    <paper-input-decorator floatingLabel label="Password">
        <input type="password" ng-model="user.password">
    </paper-input-decorator>
    <div horizontal layout reverse>
        <paper-button ng-click="doLogin(user)" raised>login</paper-button>
        <paper-button ng-show="config.allow_registration" ng-click="goto('^.register')">register</paper-button>
    </div>
</form>