<form ng-submit="doRegister(registerform)">
    <h2>
        Register
    </h2>
    <paper-input-decorator floatingLabel label="Email">
        <input type="email" ng-model="user.email">
    </paper-input-decorator>
    <paper-input-decorator floatingLabel label="Password">
        <input type="password" ng-model="user.password">
    </paper-input-decorator>
    <paper-input-decorator floatingLabel label="Repeat">
        <input type="password" ng-model="user.password_repeat">
    </paper-input-decorator>
    <div horizontal layout reverse>
        <paper-button ng-show="config.allow_registration" ng-click="doRegister(user)" raised>register</paper-button>
        <paper-button ng-click="goto('^.login')">login</paper-button>
    </div>
</form>